<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chez Julien - Voyag'elec</title>
        <link  href="./static/style.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
    </head>

    <body>
        
        <h1>Voyag'elec - Accueil</h1>

        <form action="/travel_distance" method="POST">
			<label>Ville de départ : </label>
			<input type="text" name="form_depart" id="form_depart" required> </br>
			
            <label>Ville d'arrivée : </label>
			<input type="text" name="form_arrivee" id="form_arrivee" required> </br>
		
            <label>Modèle de voiture : </label>
			<select name="voitures" id="voitures_select" required>
				{% for voiture in voitures %}
			    <option value="{{ voiture.model }}">{{ voiture.model }}</option>
			    {% endfor %}
			</select> </br>

            <input type="submit" value="Envoyer">
		</form>


    </body>
</html>
