<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chez Julien - Voyag'elec</title>
        <link  href="./static/style.css" rel="stylesheet" type="text/css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="./index.js"></script>
    </head>

    <body>
        
        <h1><a href="/">Voyag'elec - Votre trajet</a></h1>

        <div>
            Vous partez de {{ depart.render_address }} (coordonnées : {{ depart.render_latitude }}, {{ depart.render_longitude }}) <br>
            Votre destination est {{ arrivee.render_address }} (coordonnées : {{ arrivee.render_latitude }}, {{ arrivee.render_longitude }})<br>
            <br>
            Vous roulez en {{ voitures[0].model }} ({{ voitures[0].autonomie }}km d'autonomie).<br>

            La distance entre les deux points est de {{ distance }}km.<br>
            Temps de recharge : {{ tps_recharge }}<br>
            Temps de trajet total : {{ tps_trajet }}<br>
            <br>
            <br>
            {% if bornes != [] %}
                Vous devrez vous arrêter aux bornes suivantes pour recharger votre voiture :<br>
                {% for borne in bornes %}
                    {{ borne }}<br>
                {% endfor %}
            {% endif %}
        </div>
        
        <div id="map">
        <script>
            let map;

            function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 46.416748, lng: 2.379690 },
                zoom: 5,
            });

            var directionsService = new google.maps.DirectionsService();
            
            //create a DirectionsRenderer object which we will use to display the route
            var directionsDisplay = new google.maps.DirectionsRenderer();

            //bind the DirectionsRenderer to the map
            directionsDisplay.setMap(map);
            var waypoints = [];

            // waypoints: {{ waypoints|safe }},
            console.log("{{ depart.render_address }}")
            if (waypoints == []){
                var request = {
                    origin: "{{ depart.render_address }}",
                    destination: "{{ arrivee.render_address }}",
                    optimizeWaypoints: true,
                    travelMode: google.maps.TravelMode.DRIVING, 
                    unitSystem: google.maps.UnitSystem.IMPERIAL
                }
            }
            else{
                var request = {
                    origin: "{{ depart.render_address }}",
                    destination: "{{ arrivee.render_address }}",
                    waypoints: waypoints,
                    optimizeWaypoints: true,
                    travelMode: google.maps.TravelMode.DRIVING, 
                    unitSystem: google.maps.UnitSystem.IMPERIAL
                }
            }

            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {

                    document.getElementById("to").value + ".<br /> Driving distance <i class='fas fa-road'></i> : " + result.routes[0].legs[0].distance.text + ".<br />Duration <i class='fas fa-hourglass-start'></i> : " + result.routes[0].legs[0].duration.text + ".</div>";

                    directionsDisplay.setDirections(result); 
                } 
            });
            }

        </script>
            
        </div>
        <div id="to">
        </div>
        <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcc80Jeyig5Kbd0lXzV4-6e5xWRgsc0kc&callback=initMap">
        </script>
   
        
    </body>
</html>
